[submodule "Core/Vendor/flecs"]
	path = Core/Vendor/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "Core/Vendor/spdlog"]
	path = Core/Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Core/Vendor/cereal"]
	path = Core/Vendor/cereal
	url = https://github.com/USCiLab/cereal.git
